[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.itgene.ru/simple"
verify_ssl = true
name = "itgene"

[packages]
Django = "==1.11.15"
requests = "*"
Pillow = "*"
pytz = "==2018.5"
django-pyodbc-azure = "==1.11.15.0"
pyodbc = "==4.0.24"
psycopg2 = "*"
# Configuration via environment variables
django-environ = "==0.4.4"
python-dateutil ="*"
[dev-packages]

[requires]
python_version = "3.6"
